# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Environment variables (SECURITY RISK)
.env
.env.local
server/.env

# System files
.DS_Store
Thumbs.db

# Optional: Ignore the big CSV if it's over 100MB (GitHub limit)
steam_metadata.csv

*.csv